@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

body {
  font-family: "Single Day", cursive;
  font-size: 18px;
  background-image: url("./꿀벌.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: rgb(80, 28, 28);
  text-align: center;
  font-size: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 5px solid rgb(255, 208, 1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* opacity: 0.9; */
}

label {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 10px;
}

button[type="submit"],
button {
  width: 100%;
  border: none;
  position: relative;
  display: inline-block;
  font-size: 4px;
  color: white;
  border-radius: 6px;
  text-align: center;
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 #f6cd66;
  margin-top: 3%;
  font-family: "Delicious Handrawn";
  font-size: 25px;
  background-color: #f6cd66;
  box-shadow: 0 0 0 1px #f6cd66 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #f6cd66, 0 8px 0 1px #f6cd66, 0 8px 8px 1px #f6cd66;
}
button[type="submit"]:active,
button:active {
  box-shadow: 0 0 0 1px #f6cd66 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px #f6cd66;
}

button[type="submit"]:hover,
button:hover {
  background-color: #f6cd66;
}

#guestbookContainer {
  margin-top: 20px;
}

#guestbookContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border: 5px solid rgb(255, 208, 1); */
}

.guestbook-item {
  background-color: white;
  border: 5px solid rgb(255, 208, 1);
}

p {
  font-size: 20px;
  padding-left: 5%;
}

.delBtn {
  font-size: 20px;
}
